# Eclipse metadata and settings
.metadata/
.settings/
*.launch

# Build output (any folder named Debug or Release, case-insensitive)
[Dd]ebug/
[Rr]elease/
**/[Dd]ebug/
**/[Rr]elease/
10_Source_code/STM32F411CEUX_FLASH.ld
