# Eclipse metadata and settings
.metadata/
.settings/
*.launch

# Build output (any folder named Debug or Release, case-insensitive)
[Dd]ebug/
[Rr]elease/
**/[Dd]ebug/
**/[Rr]elease/
**/[Tt]est
/
12_Tests/test_runner.exe


# User-specific files
*.log
*.user
*.swp
*.swo
*.DS_Store
*.orig


# VSCode support 
.vscode/
out/
*.i
*.o
*.d

# Windows/macOS artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store



# Backup files
*~
*.bak
*.tmp